<style>
  .wrapper{
  min-height: 90vh;
}
a{
   color:  #FF8040;
  }
  
  </style>
<div class="view" style="background-image: url('assets/f1.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
  <nav class="navbar navbar-dark">
  
</nav>  



<div class="wrapper">
    <div class="card-body">
    
        <br />
  </div>
  <div class="card offer-card shadow-lg p-3 mb-5 bg-white rounded">
    <div class="card-body">
      <h3 class="card-title">Check Out Flight offers & Deals</h3>
      <div class="row">
        <div class="col-md-3" style="padding: 5px;">
          <img src="assets/deals.jpg" height="200px" width="250px" />
        </div>
        <div class="col-md-3" style="padding: 5px;">
          <img src="assets/10000.jpg" height="200px" width="250px" />
        </div>
        <div class="col-md-3" style="padding: 5px;">
          <img src="assets/3000 off.jpg" height="200px" width="250px" />
        </div>
        <div class="col-md-3" style="padding: 5px;">
          <img src="assets/iii.png" height="200px" width="250px" />
        </div>
      </div>
    </div>
  </div>
  <div class="card offer-card shadow-lg p-3 mb-5 bg-white rounded">
    <div class="card-body">
      <h3 class="card-title">About Us</h3>
      <div class="row">
        <div class="devCard col-md-3" style="padding: 5px;">
         
          <h5 style="font-size:medium">Akram</h5>
          <hr />
          <span class="info">
            Director of Flight TIcket Booking Ltd.
            <hr />
            <a
              href="https://www.facebook.com/"
              class="fa fa-facebook"
            ></a>
            <a
              href="https://in.linkedin.com/in/"
              class="fa fa-linkedin"
            ></a>
          </span>
        </div>
        <div class="devCard col-md-3" style="padding: 5px;">
  
          <h5 style="font-size:medium">Navanika</h5>
          <hr />
          <span class="info">
            Chief Excecutive Officer of Flight Ticket Booking Ltd.
            <hr />
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-linkedin"></a>
          </span>
        </div>
        <div class="devCard col-md-3" style="padding: 5px;">
  
          <h5 style="font-size:medium">Likitha</h5>
          <hr />
          <span class="info">
            Executive Officer of Flight Ticket Booking Ltd.
            <hr />
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-linkedin"></a>
          </span>
        </div>
        <div class="devCard col-md-3" style="padding: 5px;">
          <h5 style="font-size:medium">Afiffa</h5>
          <hr />
          <span>
            Manager of Flight Ticket Booking Ltd.
            <hr />
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-linkedin"></a>
          </span>
        </div>
        <div class="devCard col-md-3" style="padding: 50px;">
  
          <h5 style="font-size:medium">Mallikarjun</h5>
          <hr />
          <span class="info">
            Team Lead of Flight Ticket Booking Ltd.
            <hr />
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-linkedin"></a>
          </span>
        </div>
        <div class="col-md-3" style="padding: 50px;">
          <h5 style="font-size:medium">Sravni</h5>
          <hr />
          <span>
            Frontline Manager of Flight Ticket Booking Ltd.
            <hr />
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-linkedin"></a>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="card contact-card shadow-lg p-3 mb-5 bg-white rounded">
                  <div class="card-body" style="padding-left: 150px; padding-right: 150px; padding-top: 50px; padding-bottom: 50px;">
                      <h3 class="card-title">Contact Us</h3>
                      <div class="row">
                          Full Name: <br>
                          <input class="form-control" type="text" name="fname" required><br>
                          Email Address:<br>
                          <input class="form-control" type="email" name="email" required><br>
                          Subject: <br>
                          <input class="form-control" type="text" name="subject" required><br>
                          Message:<br>
                          <textarea class="form-control" name="message"></textarea>
                      </div>
                      <button class="btn btn-primary"(click)="myClickFunction($event)" >Send</button>
                      
                  </div>
              </div> 
</div>

<!-- BODY -->
